.App {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.ContentPanel {
  width: 50%
}

.ReviewersPanel {
  width: 50%
}

.Reviewer {
  display: flex;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.Reviewer .ReviewerAvatarBox {
  display: flex;
  flex-direction: column;
  align-items: 'center'
}

.Reviewer .ScoreSign {
  background-color: #F4F4F4;
  padding: "0.2em 0.7em";
  border-radius: "0.4em";
}

.Reviewer .SignsBox {
  display: flex;
  flex-direction: column;
  align-items: 'center';
  position: relative;
  top: "-1.5em";
}

.Reviewer .NameSign {
  background-color: '#F4F4F4';
  padding: "0.2em 0.7em";
  top: "-1.5em";
  border-radius: "0.4em"
}

.Reviewer .SpeechBubble {
  margin: "1em 2em";
  position: "relative";
  background: "#deddda";
  padding: "1em 2em";
  border-radius: "0.4em";

}

.ReviewerAvatar {
  width: 100px;
}

.NoDisplay {
  display: none;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 0.8em;
  height: 0.8em;
  border: 0.1em solid #f3f3f3;
  /* Light grey */
  border-top: 0.1em solid #383636;
  /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}