.App {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.ContentPanel {}

.ReviewersPanel {}

.Reviewer {
  display: flex;
}

.Reviewer .ReviewerBox {
  display: flex;
  flex-direction: row;
}

.Reviewer .ReviewerAvatarBox {
  display: flex;
  flex-direction: column;
  align-items: 'center'
}

.Reviewer .ScoreSign {
  background-color: #F4F4F4;
  padding: "0.2em 0.7em";
  border-radius: "0.4em";
}

.Reviewer .SignsBox {
  display: flex;
  flex-direction: column;
  align-items: 'center';
  position: relative;
  top: "-1.5em";
}

.Reviewer .NameSign {
  background-color: '#F4F4F4';
  padding: "0.2em 0.7em";
  top: "-1.5em";
  border-radius: "0.4em"
}

.Reviewer .SpeechBubble {
  margin: "1em 2em";
  position: "relative";
  background: "#deddda";
  padding: "1em 2em";
  border-radius: "0.4em";

}

.ReviewerAvatar {
  width: 100px;
}

.NoDisplay {
  display: none;
}